#fondoAdmin{
    background: rgb(165,207,200);
    background: radial-gradient(circle, rgba(165,207,200,1) 0%, rgba(231,242,239,1) 100%);

}

#fondoApp{
    background: rgb(231,242,239);
    background: radial-gradient(circle, rgba(231,242,239,1) 0%, rgba(165,207,200,1) 100%);
}
/* Path: public\css\css.css */

#labels{
    color: #555555;
    font-size: 15px;

}
#labels:hover{
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}

#fondoEditar{
    background: rgb(232, 243, 240);
    background: radial-gradient(circle, rgb(220, 236, 232) 0%, rgb(199, 209, 207) 54%);
}

#logo {
    width: 90px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;

    }
#logo img {
    width: 100%;
    height: auto;
    display: block;
}

nav{

    background: radial-gradient(circle, rgb(70, 184, 167) 0%, rgb(57, 155, 140) 70%);

}

li {
    text-decoration-color: #000000;
}

li:hover{
    background:rgb(0, 57, 59);
    
}

#btn {
    border: 1px solid #5a5a5a;
    border-radius: 2px;
    text-align: center;
    background: rgba(255, 255, 255, 0.507);
}

#btn:hover {
    background: rgba(150, 150, 150, 0.096);
}


#borderDemo {
    outline: 1px dashed rgba(0,0,0,0.64);
    outline-offset: 0px;
}

span{
    font-style: sans-serif;
    font-size: 30px;
    color: #001f1f;
    font-weight: bold;
    
}